@import 'global/styles/vars';
@import 'global/styles/typography';
@import './**/*.scss';

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: $half-space;
}
